:root {
  --white: #ffffff;
  --blue: #24303e;
  --grey: #808397;
  --yellow: #fad400;
  --red: #fe7766;
  --green: #24554a;
  --dark-blue: #052c3b;
  --light-blue: #19536c;
  --silver: #a7aaad;
  --light-grey: #5b636d;
  --light-green: #458d7e;
  --green-background: #90d4c6;
}
